.pageHeader {
  margin-top: 2rem;
  margin-bottom: 0;
}

.headerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subtitle {
  margin-top: 10px;
  padding: 0px;
}

@media screen {
  .webLinks {
    display: block;
  }

  .printLinks {
    display: none;
  }
}

@media print {
  .webLinks {
    display: none;
  }

  .printLinks {
    display: block;
  }
}
